/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    f
}

/* import czcionki Logo*/

body {
    font-family: 'Roboto', sans-serif;
}

#logo {
    width:236px;
    margin: 35px auto 35px auto;
    
}

h1 {
 
    font-size: 2em;
    text-transform: uppercase;
    color: #6f6767;
    letter-spacing: 15px;
    padding-bottom: 3px;
    font-weight: 700;
    
}

h2 {
    font-size: 1em;
    border-top: 1px solid #cccccc;    
    letter-spacing: 4px;
    padding-top: 4px;
    text-transform: uppercase;
    margin-left: px;
    padding-left: 9px;
}

ul {
  font-family: 'Roboto', sans-serif;    
  text-align: center;
  margin-bottom: 7px;
}

ul li {
    display: inline-block;
}

ul li a {
    
    text-decoration: none;
    color: #000000;
    padding: 7px 25px;
    font-size: 16px;
}

ul li a:hover, .active {
    color: #ffffff;
    background: #131e42;
    
    
}

#baner {
    width: 100%;
    height: 400px;
    background: url('images/baner.jpg') no-repeat;
    border-top: 3px solid #131e42;
    
}

.container {
    width: 960px;
    margin: 0 auto;
}

#slogan {
    width: 320px;
    height: 400px;
    background-color: #131e42;
    float: right;
    position: relative;
    
}

#slogan h3 {
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

#slogan p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    width: 85%;
    margin: 0 auto;
    line-height: 23px;
   
}

#traingle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 28px solid #131e42;
    position: absolute;
    bottom: -20px;
    right: 30px;
}

.col-one-third {
    width: 320px;
    float: left;
    padding-top: 30px;
}

.col-one-third h4 {
    font-size: 17px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-left: 20px;
}

.col-one-third p {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    line-height: 23px;
    padding-left: 20px;
    margin-bottom: 30px;
   
}

#foter {
    width: 100%;
    background: #e5e5e5;
    clear: both;
    
    
}

#foter p {
    padding 15px 0;
    text-align: center;
}




